<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  
</head>

<body >

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Einstein Bot for testing on a Web App</h1>
    <p>This is a sample Node application deployed to Heroku.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> Getting Started on Heroku with Node.js</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span> GitHub</a>
  </div>
</div>

<div style={{ minHeight: 500, maxHeight: 470, width:400, position: 'absolute', bottom: 0, right: 0, border: '1px solid lightgray'}}>
  <nav>
      <div className="nav-wrapper">
          <a href="/" className="brand-logo">ChatBot</a>
          <ul id="nav-mobile" className="right hide-on-med-and-down">
              <li><a href="/" onClick={this.hide}>Close</a></li>
          </ul>
      </div>
  </nav>

  <div id="chatbot"  style={{ minHeight: 388, maxHeight: 388, width:'100%', overflow: 'auto'}}>

      {this.renderMessages(this.state.messages)}
      <div ref={(el) => { this.messagesEnd = el; }}
           style={{ float:"left", clear: "both" }}>
      </div>
  </div>
  <div className=" col s12" >
      <input style={{margin: 0, paddingLeft: '1%', paddingRight: '1%', width: '98%'}} ref={(input) => { this.talkInput = input; }} placeholder="type a message:"  onKeyPress={this._handleInputKeyPress} id="user_says" type="text" />
  </div>

</div>

<!--Embedded Service Snippet-->
<style type='text/css'>
  .embeddedServiceHelpButton .helpButton .uiButton {
      background-color: #005290;
      font-family: "Arial", sans-serif;
  }
  .embeddedServiceHelpButton .helpButton .uiButton:focus {
      outline: 1px solid #005290;
  }
</style>

<script type='text/javascript' src='https://service.force.com/embeddedservice/5.0/esw.min.js'></script>
<script type='text/javascript'>
  var initESW = function(gslbBaseURL) {
      embedded_svc.settings.displayHelpButton = true; //Or false
      embedded_svc.settings.language = 'en'; //For example, enter 'en' or 'en-US'

      //embedded_svc.settings.defaultMinimizedText = '...'; //(Defaults to Chat with an Expert)
      //embedded_svc.settings.disabledMinimizedText = '...'; //(Defaults to Agent Offline)

      //embedded_svc.settings.loadingText = ''; //(Defaults to Loading)
      //embedded_svc.settings.storageDomain = 'yourdomain.com'; //(Sets the domain for your deployment so that visitors can navigate subdomains during a chat session)

      // Settings for Chat
      //embedded_svc.settings.directToButtonRouting = function(prechatFormData) {
          // Dynamically changes the button ID based on what the visitor enters in the pre-chat form.
          // Returns a valid button ID.
      //};
      //embedded_svc.settings.prepopulatedPrechatFields = {}; //Sets the auto-population of pre-chat form fields
      //embedded_svc.settings.fallbackRouting = []; //An array of button IDs, user IDs, or userId_buttonId
      //embedded_svc.settings.offlineSupportMinimizedText = '...'; //(Defaults to Contact Us)

      embedded_svc.settings.enabledFeatures = ['LiveAgent'];
      embedded_svc.settings.entryFeature = 'LiveAgent';

      embedded_svc.init(
          'https://shure--Dev1.cs41.my.salesforce.com',
          'https://dev1-shure-community.cs41.force.com/CSPGateway',
          gslbBaseURL,
          '00D55000000D2n7',
          'Chatsx_Agents',
          {
              baseLiveAgentContentURL: 'https://c.la1-c1cs-ia2.salesforceliveagent.com/content',
              deploymentId: '572550000008P5o',
              buttonId: '573550000008PU8',
              baseLiveAgentURL: 'https://d.la1-c1cs-ia2.salesforceliveagent.com/chat',
              eswLiveAgentDevName: 'Chatsx_Agents',
              isOfflineSupportEnabled: false
          }
      );
  };

  if (!window.embedded_svc) {
      var s = document.createElement('script');
      s.setAttribute('src', 'https://shure--Dev1.cs41.my.salesforce.com/embeddedservice/5.0/esw.min.js');
      s.onload = function() {
          initESW(null);
      };
      document.body.appendChild(s);
  } else {
      initESW('https://service.force.com');
  }
</script>
</body>
</html>